body {
    background: #fffff1;
    margin: 0;
    padding: 40px;
    font-family: Arial, serif;
}

h1 {
    color: blue;
}

p {
    width: 50%;
}

p, h1, h3 {
    color: #b92a56;
}

a {
    font-weight: bold;
    color: green;
}

a[name="link"] {
    color: #4e1448;
}


img {
    border: 5px solid blue
}

.list {
    padding: 20px;
    border: 1px solid #000000;
}

.list li {
    color: #4e1448;
}

.list .boldItem {
    font-weight: bold;
}

form {
    display: inline-block;
}

#button {
    background: red;
    padding: 20px 40px;
    border: 0;
    color: green;
    margin-left: 40px;
    font-size: 16px;
}